<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<!-- Detailed/Custom -->
        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/urlmanager.php" responseMode="ExecuteURL" />
        </httpErrors>
        <defaultDocument>
            <files>
                <clear/>
                <add value="urlmanager.php"/>
            </files>
        </defaultDocument>
        <tracing>
            <traceFailedRequests>
                <add path="*.asp">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="400-500" />
                </add>
            </traceFailedRequests>
        </tracing>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="300000000" maxQueryString="4096" />
            </requestFiltering>
        </security>		
    </system.webServer>
</configuration>